@using ePhoneCourseWork.Models
@model Product

@{
    ViewData["Title"] = "Movie Details";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card h-100 mb-3 mx-auto text-center" style="max-width:700px">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title m-0">@Model.Name</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.Image" class="card-img" alt="Model Image">
                </div>
                <div class="col-md-8">
                    <div class="card-body text-left">
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text"><b>Color:</b> @Model.Color</p>
                        <p class="card-text"><b>Price:</b> $@Model.Price</p>
                    </div>
                </div>
            </div>
            <div class="card-footer mt-auto">
                <div class="d-flex justify-content-between align-items-center">
                    <a class="btn btn-outline-primary float-right" asp-action="Index">
                        Back to List
                    </a>
                    @if (!User.IsInRole("BlackListed"))
                    {
                        <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id"><i class="bi bi-cart-plus"></i> Add to Cart</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
